label > input{
    display: none;
    position:absolute;
}

label > img {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    width:40px;
    height: auto;
    margin: 20px 20px;
    cursor: pointer;
    transition: 0.2s;
}

label > img:hover{
    -webkit-filter: none;
    filter: none;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);

}
label > input:checked + img{
    -webkit-filter: none;
    filter: none;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
iframe{
    z-index: -99;
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    min-height:1440px;
    min-width:2560px;
}
#lomake{
    transition: 1s;
}
.questionheader {
    font-size: 1.2rem;
    font-weight: 700;
}
.tervetuloasivu{
    margin:0;
    padding:0;
    
}
.tervetuloasivu .jumbotron{
    min-height: 100vh;
    background-color: rgb(179, 207, 212);
    color: white;
    font-weight: 700;
    margin:0;
    padding-bottom: 50px;
}
.tervetuloasivu h1{
    padding-top:25vh;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 900;
    
}
.tervetuloasivu p{
    font-size:1.25rem;
}

.kiitossivu .jumbotron{
    background-color: rgb(110, 201, 218);
    
}

.tervetuloasivu hr{
    border:1px solid white;
    width:70%;
}

.loader {
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #36c024;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.hide{
    display:none;
}



@media only screen and (max-width: 520px) {
    label > img {
        width:60px;
        margin: 20px 45px;
    }

}

@media only screen and (max-width: 768px) {

    .tervetuloasivu h1{
        padding-top:5vh;
    }
}